# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# coverage
coverage/
.nyc_output/

# prisma
prisma/*.db
prisma/*.db-journal

# misc
.cache/
